/* NavbarComponent.css */
.navbar {
    background-color: #2c3e50;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navbar-nav .nav-link {
    font-size: 1.2rem;
    margin-left: 20px;
    color: #fff;
  }
  
  .navbar-nav .nav-link:hover {
    color: #f39c12;
  }
  